<h1> <span class="label label-primary"><%= user.escape("username") %> </span> </h1>

<br>

<% var colors = ["panel-success", "panel-info", "panel-warning", "panel-danger"]%>

	<% user.posts().each(function(post) { %>
	<div class="panel <%= colors[Math.floor(Math.random() * colors.length)] %>">
		<div class="panel-heading">
			  <a href="#/posts/<%= post.id %>" ><h3> <%= post.escape("title") %> </h3></a>
		</div>
	  <div class="panel-body">
		
			<p>
			  <%= post.escape("content") %>
			</p>
	  </div>
	</div>
<% }) %>


<a href="#/users">Back to Users </a>