<div class="header">
	<a href="#/users/<%= user.id %>">
		<img src="<%= user.escape("image_url") %> " class="img-rounded" height="130px" width="130px">
	</a>
	<h4><%= user.escape("username") %></h4>
</div>

<% posts.each(function (post) { %>
	<div class="row">
		<div class="col-xs-1" style="padding-left: 0; padding-right:0;">
			<a href="#/posts/<%= post.id %>">
				<%= new Date(post.escape("updated_at")).toDateString() %>
			</a>
		</div>
		
		<div class="col-xs-11" style="padding-top:0">
			<div class="panel panel-default">
				<div class="panel-body">
					 <a href="#/posts/<%= post.id %>">
						 <h2><%= post.escape('title') %></h2>
					 </a>
					<p> <%= post.escape('content') %></p>
				</div>
			</div>
		</div>
	</div>
<% }) %>