<div class="col-xs-9" style="padding-top: 30px;">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-1" style="padding-left: 0; padding-right:0;">
				<a href="#/users/<%= current_user_id %>">
					<img src="<%= current_user_imgURL %>" 
					class="img-rounded" height="100%" width="100%">
				</a>
			</div>
			<div class="col-xs-11">
				<div class="panel panel-default">
					<div class="container-fluid">
						<div class="panel-body" id="new-post"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id= "posts-show"></div>
</div>
	
<div class="col-xs-3" style="padding-left: 0;">
	<h3 ><%= current_username %></h3>
	<div class="list-group">
	  <a href="#/users/<%= current_user_id %>" class="list-group-item">
			Posts
		</a>
	  <a href="#" class="list-group-item" data-toggle="modal" data-target="#followers">
			Followers
		</a>
	  <!-- <a href="#" class="list-group-item">Liked Posts</a> -->
	  <a href="#" class="list-group-item" data-toggle="modal" data-target="#setting">
			Customize
		</a>
	</div>
	<hr>
	<div class="recommende-users">
		<h3>Recommended Users</h3>
		<ul id="user-follows" class="list-group" ></ul>
	</div>
</div>



<!--followers modal -->

<div class="modal fade" id="followers" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" style="width: 900px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
        <h4 class="modal-title">Follower</h4>
      </div>
			
      <div class="modal-body followers-modal">
        
      </div>
   
    </div>
  </div>
</div>

<!--setting modal -->

<div class="modal fade" id="setting" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				
        <h4 class="modal-title"><%= user ? user.escape("username") : "" %></h4>
      </div>
      <div class="modal-body">
					<div class="container">
						<div class="row">
							<div class="col-xs-4 picture-show">
								<img id="profile-pic" 
									src="<%= user ? user.escape("image_url") : "" %>"
									height="100%"
									width="100%"
								>
							</div>
							
							<div class="col-xs-3 picture-update">
								<form>
									<h4>Change Profile Picture</h4>
									<input
										id="filepicker-1"
										type="filepicker" 
										name="user[image_url]"
										data-fp-button-text="Choose Image"
										data-fp-mimetype="image/*"
										data-fp-services="COMPUTER">
									
								</form>
							</div>
							
						</div>
					</div>
      </div>
			
			<div class="modal-footer">
        <button type="button" class="btn btn-default"data-dismiss="modal">
					Close
				</button>
        <button type="button" id="update-picture"class="btn btn-primary">
					Update Picture
				</button>
			</div>
			
    </div>
  </div>
</div>