<% var panelColors = ["panel-primary", "panel-success", "panel-info", "panel-warning"] %>
<% var color = panelColors[Math.floor(Math.random()*panelColors.length)] %>
<div class="row" id="post-<%= post.id %>">
	<div class="col-xs-1" style="padding-left: 0; padding-right:0;">
		<img src="<%= image_url %>" class="img-rounded" height="100%" width="100%">
	</div>

	<div class="col-xs-11">
		<div class="panel panel-default <%= color %>">
			 <div class="panel-heading" style="padding-top: 5px; padding-bottom: 5px;">
				 <h4><%= post.escape('title') %></h4>
			 </div>
			<div class="panel-body">
				<p> <%= post.escape('content') %></p>
			</div>
		</div>
	</div>
</div>



<!-- <div class="post-show-place">

	<div class='row'>

		<div class="col-xs-12">


		  <div class="panel panel-default">
				<div class="panel-body">

					<h2> <#%= post.escape('title') %></h2>
					<p> <#%= post.escape('content') %></p>

				</div>
			</div>
		</div>
	</div> -->
			
	<!-- <div class='row'>
		<div class="col-xs-3">

			<#% if (user_id === current_user.id) { %>
				<button class="edit btn btn-primary"> Edit Post </button>

				<button class="destroy btn btn-danger">Destroy</button>
			<#% } %>
		</div>
	</div>
</div>

<br>

<div class='row'>
	<div class="col-xs-3">
		<a href=""> Back to Posts </a>
	</div> -->
<!-- </div> -->
