<div class="col-xs-9">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-1 white-font" style="padding-left: 0; padding-right:0;">
				<a href="#/posts/<%= post.id %>">
						<% if (post.get("updated_at")) { %>
							<%= new Date(post.escape("updated_at")).toDateString() %>						
						<% } %>
				</a>
			</div>

			<div class="col-xs-11 post-show" style="padding-top:0"> </div> 
		</div>
		
		<div class="row">
			<div class="col-xs-1" style="padding-left: 0; padding-right:0;">
				<a href="#/users/<%= current_user_id %>">
					<img src="<%= current_user_imgURL %>" height="100%" width="100%">
				</a>
			</div>
			<div class="comment-new col-xs-11"></div>
		</div>
		
		<hr>
		
		<div>
			<h3>Comments</h3>
		</div>
		<div class="comments-show"></div>
		
	</div>
</div>

<div class="col-xs-3 users-likes">
	<h3>Likes from Users!</h3>
	<% likedUsers.each (function (user) { %>
		<div class="list-group">
			<div class="col-xs-3 image" style="padding-left: 0; padding-right: 0;">
				<a href="#/users/<%= user.id %>" class="list-group-item zero-padding">
					<img src="<%= user.escape("image_url") %>" 
						height="44px" width="48px" class="img-rounded">	
				</a>
			</div>
		
			<div class="col-xs-9 image" style="padding-left:0;">
				<a href="#/users/<%= user.id %>" class="list-group-item">
					<%= user.escape("username") %>
				</a>
			</div>
		</div>
	<% }) %>
</div>