<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<script src="http://api.filepicker.io/v1/filepicker.js"></script>
	<script>
	  filepicker.setKey("<%= ENV["file_picker_api_key"] %>");
	</script>
  <%= csrf_meta_tags %>
</head>
<body>
	  <nav class="navbar navbar-default">	
			<div class='container-fluid header-nav'>
					<div class="navbar-header">
						<a class="navbar-brand" href="#"> 
							<img class='navbar-logo' src="/assets/logo_zenpost.jpg"> 
						</a>
					</div>
			
					<ul class="nav navbar-nav" style="float:right;">
			      <% if current_user %>
				      <li> <a href="#"> <%= current_user.username %> </a> </li>
			        <li> <a href="#/users"> Users </a> </li>
			        <li> <a href="#/users/<%= current_user.id %>"> Your Posts </a> </li>
					    <li>
									<%= button_to "Sign Out", session_url, :method => :delete, 
										class:'btn btn-sm btn-danger navbar-btn sign-out-button' %>
				      </li>
					
				    <form id="post-search"class="navbar-form navbar-left">
		         <div class="form-group">
		           <input type="text" class="form-control" placeholder="Search Post (under develop)">
		         </div>
		       </form>
					    
						<% end %>
					</ul>
					
					<ul class="nav navbar-nav" style="float:right; padding-top: 8px;">		
			      <% unless current_user %>
						<li> <%= render "users/sign_up_form" %> </li>
				    <li> <%= render "sessions/sign_in_form" %> </li> 
			      <% end %>
					</ul>
			</div>
		</nav>


  <div class='container'>    
		<%= yield %> 
	</div>
	
	<br>
	
	<% if flash[:errors] %>
	<div class="container">
		<div class='row text-center'>
			<div class='col-xs-4 col-xs-offset-4'>
				<div class="jumbotron">
				  <h3>User Not found:</h3>
				    <ul>
					    <% flash[:errors].each do |error| %>
						    <li><%= error %></li>
					    <% end %>
				  </ul>
				</div>
			</div>
		</div>
  </div>
	<% end %>
	
			
<script>
	var guestName = "<%="guest" + (User.last.id + 1).to_s %>"
</script>


</body>
</html>
