<!DOCTYPE html>
<html>
<head>
	
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <ul class="nav navbar-nav nav-pills nav-links">
				<a class="navbar-brand" href="#"> <img src="/assets/logo_zenpost.jpg" width="160"
					height="60"> </a>
					
	      <% if current_user %>
	      <li class='dropdown'>
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username %>
						<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
	          <li><a href="#/users"> Users </a> </li>
	          <li class='divider'></li>
	          <li><a href="#/users/<%= current_user.id %>"> Your Posts </a> </li>
	        </ul>
         </li>
				 <% end %>
			 </ul>
		 </div>
		 
      <% if current_user %>
      <div class='pull-right buttons-for-padding'>
				<%= button_to "Sign Out", session_url, :method => :delete, 
					class:'btn btn-danger' %>
      </div>
        
      <% else %>
      <div class="pull-right buttons-for-padding">
				<%= render "users/sign_up_form" %>
        <%= render "sessions/sign_in_form" %>
      </div>
      <% end %>
    </div>
</nav>


  <div class='container'>    
		<%= yield %> 
	</div>
	
	<br>
	
	<% if flash[:errors] %>
	<div class="container">
		<div class='row text-center'>
			<div class='col-xs-4 col-xs-offset-4'>
				<div class="jumbotron">
				  <h3>User Not found:</h3>
				    <ul>
					    <% flash[:errors].each do |error| %>
						    <li><%= error %></li>
					    <% end %>
				  </ul>
				</div>
			</div>
		</div>
  </div>
	<% end %>
	

</body>
</html>
