<!DOCTYPE html>
<html>
<head>
	
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<script src="http://api.filepicker.io/v1/filepicker.js"></script>
	<script>
	  filepicker.setKey(<%= ENV[file_picker_api_key] %>);
	</script>
  <%= csrf_meta_tags %>
</head>
<body>
	
	  <nav class="navbar navbar-default">	
			<div class='container-fluid'>
					<div class="navbar-header">
						<a class="navbar-brand" href="#"> 
							<img class='navbar-logo' src="/assets/logo_zenpost.jpg"> 
						</a>
					</div>
			
					<ul class="nav navbar-nav already-sign-in-buttons">
			      <% if current_user %>
				      <li class="between-links" > <a href="#"> <%= current_user.username %> </a> </li>
			        <li class="between-links"> <a href="#/users"> Users </a> </li>
			        <li class="between-links"> <a href="#/users/<%= current_user.id %>"> Your Posts </a> </li>
						<% end %>
					</ul>
					
					<ul class="nav navbar-nav nav-right">
			      <% if current_user %>
					    <li class="sign-out-button">
									<%= button_to "Sign Out", session_url, :method => :delete, 
										class:'btn btn-sm btn-danger navbar-btn' %>
				      </li>
						<% end %>
					</ul>
					
					<ul class="nav navbar-nav not-sign-in-buttons">		
			      <% unless current_user %>
						<li class="between-not-sign-in-buttons"> <%= render "users/sign_up_form" %> </li>
				    <li class="between-not-sign-in-buttons"> <%= render "sessions/sign_in_form" %> </li> 
			      <% end %>
					</ul>
			</div>
		</nav>


  <div class='container'>    
		<%= yield %> 
	</div>
	
	<br>
	
	<% if flash[:errors] %>
	<div class="container">
		<div class='row text-center'>
			<div class='col-xs-4 col-xs-offset-4'>
				<div class="jumbotron">
				  <h3>User Not found:</h3>
				    <ul>
					    <% flash[:errors].each do |error| %>
						    <li><%= error %></li>
					    <% end %>
				  </ul>
				</div>
			</div>
		</div>
  </div>
	<% end %>
	

</body>
</html>
